<h1>Consent Details</h1>

<div class="form-material form-horizontal">
  <div class="form group">
    <label class="col-md-12">Type</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= Consent::TYPES[@consent.type_id] %> </p>
    </div>
  </div>
  <div class="form group">
    <label class="col-md-12">Description</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @consent.description %> </p>
    </div>
  </div>


<%= link_to "Edit", edit_admin_consent_path(@consent.id), class:"btn" %>
<%= link_to "Delete", admin_consent_path(@consent.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %>

<% unless @consent.active %>
  <%= link_to "Activate", admin_toggle_consent_path(@consent.id), class:"btn" %>
<% else %>
  <%= link_to "Deactivate", admin_toggle_consent_path(@consent.id), class:"btn" %>
<% end %>
