<h1>Consent Details</h1>

<b>Type: </b><%= @consent.get_type %> <br>
<b>Description: </b><%= @consent.description %> <br>
<br>
<td><%= link_to "Edit", update_admin_consents_path(@consent.id) %></td>
<td><%= link_to "Delete", destroy_admin_consents_path(@consent.id) %></td>
<% if !@consent.active %>
  <td><%= link_to "Activate", toggle_admin_consents_path(@consent.id) %></td>
<% else %>
  <td><%= link_to "Deactivate", toggle_admin_consents_path(@consent.id) %></td>
<% end %>
