<h1>Message deatils</h1>
<div class="form-material form-horizontal">
  <div class="form group">
    <label class="col-md-12">Source</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @message.source.username %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Destiny</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @message.destiny.username %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Products</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @message.audit.products %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Body</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @message.body %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Read</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @message.read %></p>
    </div>
  </div>
</div>
