<h1>Report</h1>

<div class="form-material form-horizontal">

  <div class="form group">
    <label class="col-md-12">Date</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= l @report.date %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Products</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.products %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Price</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.price %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Summary</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.summary %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Rating</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.rating %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Upload date</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= l @report.upload_date %></p>
    </div>
  </div>

  <div id="paypal-button-container"></div>
</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    env: 'sandbox',
    commit: true,
    style: {
      label: 'checkout',  // horizontal | vertical
      size:   'responsive',    // medium | large | responsive
      shape:  'rect',      // pill | rect
      color:  'black'       // gold | blue | silver | black
    },
    payment: (data, actions) => {
      var CREATE_URL = "<%= paypal_checkout_url %>";
      var data = {
        items: [{
          name: "Report",
          price: "<%= @report.price %>",
          currency: "USD",
          quantity: "1"
        },
          {
            name: "Fee",
            price: "<%= @report.fee %>",
            currency: "USD",
            quantity: "1"
          }],
        total_amount: "<%= @report.price + @report.fee %>",
        description: "<%= @report.summary %>"
      }

      return actions.request.post(CREATE_URL, {data: JSON.stringify(data)})
        .then((res) => {
          return res.payment_id;
        });
    },
    onAuthorize: (data, actions) => {
      var EXECUTE_URL = "<%= paypal_execute_url %>";
      var data = {
        payment_id: data.paymentID,
        payer_id: data.payerID,
      };

      return actions.request.post(EXECUTE_URL, data)
        .then((res) => {
          if(res.success){
            window.location.replace("<%= client_purchase_url %>");
          }
        });
    }
  }, '#paypal-button-container');
</script>
