<h1>Search audit</h1>

<%= form_tag search_client_audits_path, method: :get do %>
  <%= text_field_tag :query, @search_query %>

  <%= submit_tag "Search" %>
<% end %>

<h2>Advanced search</h2>

<%= form_tag advanced_search_client_audits_path, method: :get do %>
  <div>
    <%= label_tag :company %>
    <%= text_field_tag :company, @search_company %>
  </div>

  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address, @search_address %>
  </div>

  <div>
    <%= label_tag :products %>
    <%= text_field_tag :products, @search_products %>
  </div>

  <%= submit_tag "Advanced search" %>
<% end %>

<h1>Search results</h1>

<h2>Audit reports</h2>

<% if @reports.length == 0 %>
  <p>No reports available</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Auditor</th>
        <th>Products</th>
        <th>Date</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Action<th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.auditor.company %></td>
          <td><%= report.auditor.address %></td>
          <td><%= report.auditor.username %></td>
          <td><%= report.products %></td>
          <td><%= report.date %></td>
          <td><%= report.price %></td>
          <td><%= report.rating %></td>
          <td><%= link_to "Purchase", purchase_preview_client_audits_path(report.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @reports, param_name: :report_page %>
<% end %>

<h2>Audit plans</h2>

<% if @plans.count == 0 %>
  <p>No plans available</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Auditor</th>
        <th>Products</th>
        <th>Date</th>
        <th>Price</th>
        <th>Action<th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.auditor.company %></td>
          <td><%= plan.auditor.address %></td>
          <td><%= plan.auditor.username %></td>
          <td><%= plan.products %></td>
          <td><%= plan.date %></td>
          <td><%= plan.price %></td>
          <td><%= link_to "Reserve", reserve_preview_client_audits_path(plan.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @plans, param_name: :plan_page %>
<% end %>

<h2>Audit request</h2>
<%= link_to "Send audit request", request_client_audits_path %>
