<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="navbar_logo">
            <a class="logo" href="index.html">
              <img src="/plugins/images/colombo_Main.png" alt="home" class="light-logo" />
            </a>
        </div>
        <div class="profile_logo">
          <a href="#"> <img src="/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">Steave</a>
        </div>
    </div>
</nav>


<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <ul class="nav in" id="side-menu">
          <li>
            <%= link_to "Dashboard", dashboard_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Profile", profile_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Messages", messages_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Requests", requests_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Reservations", reservations_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Purchases", purchases_client_path, class:"waves-effect" %>
          </li>

          <li>
            <%= link_to "Sign out", sign_out_path, class:"waves-effect" %>
          </li>
        </ul>
    </div>
</div>
