<h1>Edit account details</h1>

<%= render "shared/error_messages", resource: @client %>

<%= form_for @client do |f| %>
  <div class="field">
  <%= f.label :first_name, "First name" %>
  <%= f.text_field :first_name, placeholder: "James" %>
  </div>

  <div class="field">
  <%= f.label :last_name, "Last name" %>
  <%= f.text_field :last_name, placeholder: "Bond" %>
  </div>

  <div class="field">
  <%= f.label :email, "Email" %>
  <%= f.email_field :email, placeholder: "james_bond@secret_agent.corp" %>
  </div>

  <div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, placeholder: "Second street" %>
  </div>

  <div class="field">
  <%= f.label :company %>
  <%= f.text_field :company, placeholder: "E-Corporation" %>
  </div>

  <%= f.submit "Update account" %>
<% end %>