<h1>Search audit</h1>

<%= form_tag search_client_audits_path, method: :get do %>
  <%= text_field_tag :query %>

  <%= submit_tag "Search" %>
<% end %>

<h2>Advanced search</h2>

<%= form_tag advanced_search_client_audits_path, method: :get do %>

  <div class="form-material form-horizontal">

    <div class="form-group">
      <%= label_tag :company %>
      <div class="col-md-12">
        <%= text_field_tag :company, class:"form-control form-control-line" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :address %>
      <div class="col-md-12">
        <%= text_field_tag :address, class:"form-control form-control-line" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :products %>
      <div class="col-md-12">
        <%= text_field_tag :products, class:"form-control form-control-line" %>
      </div>
    </div>

    <%= submit_tag "Advanced search", class:"btn" %>

  </div>
<% end %>
