<div id="page-wrapper" style="margin-top: 0px;">
  <div class="container-fluid">
    <h1 class="box-title">Sign up as a Client</h1> </div>
    <div class="row">
      <div class="col-md-8" style="left:25px;">
        <div class="white-box">
          <%= render "shared/error_messages", resource: @client %>

          <%= form_for @client, url: sign_up_client_path do |f| %>
            <div class="field">
              <%= f.label :first_name, "First name" %>
              <%= f.text_field :first_name, placeholder: "James" %>
            </div>

            <div class="field">
              <%= f.label :last_name, "Last name" %>
              <%= f.text_field :last_name, placeholder: "Bond" %>
            </div>

            <div class="field">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, placeholder: "james_bond@secret_agent.corp" %>
            </div>

            <div class="field">
              <%= f.label :address, "Address" %>
              <%= f.text_field :address, placeholder: "Second street" %>
            </div>

            <div class="field">
              <%= f.label :company, "Company" %>
              <%= f.text_field :company, placeholder: "E-Corporation" %>
            </div>

            <div class="field">
              <%= f.label :password, "Password" %>
              <%= f.password_field :password, placeholder: "************" %>
            </div>

            <div class="field">
              <%= f.label :password, "Password confirmation" %>
              <%= f.password_field :password_confirmation, placeholder: "************" %>
            </div>

            <div class="field">
              <p>
                Accept <%= link_to "terms", terms_path %>?
                <%= f.check_box :terms_accepted %>
              </p>
            </div>

            <%= f.submit "Sign up" %>
          <% end %>

          <p class="change_link">
            Not a member yet ? Join us:
            <a href="/client/sign_up" class="to_register">Client</a> or
            <a href="/auditor/sign_up" class="to_register">Auditor</a> ?
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
  <footer class="footer text-center"> 2018 &copy; Colombo </footer>
</div>
