<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/logo.png">
  <title>Colombo</title>
  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Menu CSS -->
  <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
  <!-- animation CSS -->
  <link href="/css/animate.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- color CSS -->
  <link href="/css/colors/default.css" id="theme" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="fix-header">
  <!-- ============================================================== -->
  <!-- Preloader -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Wrapper -->
  <!-- ============================================================== -->
  <div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
      <div class="navbar-header">
        <div class="top-left-part">
          <!-- Logo -->
          <a class="logo" href="/">
            <!-- Logo icon image, you can use font-icon also --><b>
            <!--This is dark logo icon--><img src="/plugins/images/logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="/plugins/images/colombo_Main.png" alt="home" class="light-logo" />
          </a>
        </div>
      </div>
      <!-- /.navbar-header -->
      <!-- /.navbar-top-links -->
      <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper" style="margin-top: 0px;">
      <div class="container-fluid">
        <h1 class="box-title">Sign up as a Client</h1> </div>
        <div class="row">
          <div class="col-md-8" style="left:25px;">
            <div class="white-box">
              <%= render "shared/error_messages", resource: @client %>

              <%= form_for @client, url: sign_up_client_path do |f| %>
                <div class="field">
                  <%= f.label :first_name, "First name" %>
                  <%= f.text_field :first_name, placeholder: "James" %>
                </div>

                <div class="field">
                  <%= f.label :last_name, "Last name" %>
                  <%= f.text_field :last_name, placeholder: "Bond" %>
                </div>

                <div class="field">
                  <%= f.label :email, "Email" %>
                  <%= f.email_field :email, placeholder: "james_bond@secret_agent.corp" %>
                </div>

                <div class="field">
                  <%= f.label :address, "Address" %>
                  <%= f.text_field :address, placeholder: "Second street" %>
                </div>

                <div class="field">
                  <%= f.label :company, "Company" %>
                  <%= f.text_field :company, placeholder: "E-Corporation" %>
                </div>

                <div class="field">
                  <%= f.label :password, "Password" %>
                  <%= f.password_field :password, placeholder: "************" %>
                </div>

                <div class="field">
                  <%= f.label :password, "Password confirmation" %>
                  <%= f.password_field :password_confirmation, placeholder: "************" %>
                </div>

                <div class="field">
                  <p>
                    Accept <%= link_to "terms", terms_path %>?
                    <%= f.check_box :terms %>
                  </p>
                </div>

                <%= f.submit "Sign up" %>
              <% end %>

              <p class="change_link">
                Not a member yet ? Join us:
                <a href="/client/sign_up" class="to_register">Client</a> or
                <a href="/auditor/sign_up" class="to_register">Auditor</a> ?
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <footer class="footer text-center"> 2018 &copy; Colombo </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
  </body>
</html>