<h1>New audit plan</h1>

<%= render 'shared/error_messages', resource: @plan %>

<%= form_for @plan, url: plan_auditor_audits_path  do |f| %>
  <div>
    <%= f.label :products %>
    <%= f.text_field :products, placeholder: "Paracetamol" %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary, placeholder: "Audit for paracetamol" %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date, min: Time.now + 1.days  %>
  </div>

  <%= f.submit "Send audit plan" %>
<% end %>
