<h1>My plan list</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Products</th>
        <th>Price</th>
        <th>Date</th>
        <th>Summary</th>
        <th>Validated</th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.products %></td>
          <td><%= plan.price %></td>
          <td><%= plan.date %></td>
          <td><%= plan.summary %></td>
          <td><%= plan.validated %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
