<h1>My report list</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Products</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Date</th>
      <th>Summary</th>
      <th>Validated</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.products %></td>
        <td><%= report.price %></td>
        <td><%= (report.rating == 0) ? "Not rated" : report.rating %></td>
        <td><%= report.date %></td>
        <td><%= report.summary %></td>
        <td><%= report.validated %></td>
        <td class="btn"><%= link_to "Download", report.report.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
