<h1>Report</h1>

<p><b>Date: </b><%= @report.date %></p>
<p><b>Products: </b><%= @report.products %></p>
<p><b>Price: </b><%= @report.price %></p>
<p><b>Summary: </b><%= @report.summary %></p>
<p><b>Rating: </b><%= @report.rating %></p>
