<h1>Report</h1>

<div class="form-material form-horizontal">

  <div class="form group">
    <label class="col-md-12">Date</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= l @report.date %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Products</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.products %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Price</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.price %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Summary</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.summary %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Rating</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @report.rating %></p>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Upload date</label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= l @report.upload_date %></p>
    </div>
  </div>

  <div class="form group">
    <%= link_to "Download", auditor_download_audit_path(@report.id), method: :post %>
  </div>
</div>
