<h1>Plan</h1>

<p><b>Date: </b><%= @plan.date %></p>
<p><b>Products: </b><%= @plan.products %></p>
<p><b>Price: </b><%= @plan.price %></p>
<p><b>Summary: </b><%= @plan.summary %></p>
<p><b>Rating: </b><%= @plan.rating %></p>
