<h1>Edit account details</h1>

<%= render "shared/error_messages", resource: @auditor %>

<%= form_for @auditor, url: auditor_profile_edit_path, multipart: true do |f| %>
<div class="form-material form-horizontal">
  <div class="form-group">
    <%= f.label :name, "Name", class:"col-md-12" %>
    <div class="col-md-12">
      <%= f.text_field :name, placeholder: "Franky Howell Coleman", class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class:"col-md-12" %>
    <div class="col-md-12">
      <%= f.email_field :email, placeholder: "francole@clmb.com", class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form group">
    <label class="col-md-12">Country</label>
    <div class="col-md-12">
      <%= f.country_select :country, {}, class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :company, "Company", class:"col-md-12" %>
    <div class="col-md-12">
      <%= f.text_field :company, placeholder: "Platt Industries", class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Adress", class:"col-md-12" %>
    <div class="col-md-12">
      <%= f.text_field :address, placeholder: "6485 Bay Ave", class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :qualifications, "Qualifications", class:"col-md-12" %>
    <div class="col-md-12">
      <%= f.text_field :qualifications, placeholder: "Senior agent", class:"form-control form-control-line" %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :password, "Password", class:"col-md-12" %>

      <div class="col-md-12">
        <%= f.password_field :password, placeholder: "************", class:"form-control form-control-line" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Password confirmation", class:"col-md-12" %>

      <div class="col-md-12">
        <%= f.password_field :password_confirmation, placeholder: "************", class:"form-control form-control-line" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cv, "CV", class:"col-md-12" %>
      <div class="col-md-12">
        <%= f.file_field :cv, class:"form-control form-control-line" %>
        <%= f.hidden_field :cv_cache, class:"form-control form-control-line" %>
      </div>
    </div>
</div>
  <%= f.submit "Update account", class:"btn" %>
<% end %>
