<h1>New message</h1>
<%= link_to "Send message", auditor_messages_new_path, class: "btn" %>

<h1>Messages sent</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Destiny</th>
      <th>Products</th>
      <th>Validated</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @messages_sent.each do |message| %>
      <tr>
        <td><%= message.destiny.username %></td>
        <td><%= message.audit.products %></td>
        <td><%= link_to "See message", auditor_message_path(message.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h1>Messages received</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Products</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @messages_recieved.each do |message| %>
      <tr>
        <td>
            <%= "<b>".html_safe unless message.read %>
            <%= message.source.username %>
        </td>
        <td>
            <%= "<b>".html_safe unless message.read %>
            <%= message.audit.products %>
        </td>
        <td>
            <%= "<b>".html_safe unless message.read %>
            <%= link_to "See message", message_auditor_path(message.id, read: true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>