<h1>Profile</h1>

<p><b>Username: </b><%= @client.username %></p>
<p><b>First name: </b><%= @client.first_name %></p>
<p><b>Last name: </b><%= @client.last_name %></p>
<p><b>Email: </b><%= @client.email %></p>
<p><b>Address: </b><%= @client.address %></p>
<p><b>Company: </b><%= @client.company %></p>