<h1>Reservations list</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
      <th>Products</th>
      <th>Planned audit date</th>
      <th>Summary</th>
      <th>Price</th>
      <th>Fee</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.plan.auditor.company %>
        <td><%= reservation.plan.auditor.address %></td>
        <td><%= reservation.plan.products %></td>
        <td><%= reservation.plan.date %></td>
        <td><%= reservation.plan.summary %></td>
        <td><%= reservation.plan.price %></td>
        <td><%= reservation.plan.fee %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
