<div id="page-wrapper" style="margin-top: 0px;">
  <div class="container-fluid">
    <br>
    <h1 class="box-title">Login</h1> </div>
  <div class="row">
    <div class="col-md-8" style="left:25px;">
      <div class="white-box">
        <%= render partial: "shared/error_messages", resource: @user %>

        <%= form_with url: sign_in_path do |f| %>
          <div class="filed">
            <%= f.label :username, "Your username" %>
            <%= f.text_field :username, placeholder: "secret_agent" %>
          </div>

          <div class="filed">
            <%= f.label :password, "Your password" %>
            <%= f.password_field :password, placeholder: "************" %>
          </div>

          <div class="filed">
            <%= f.label :remember_me, "Keep me logged in?" %>
            <%= f.check_box :remember_me %>
          </div>

          <%= f.submit "Login" %>
        <% end %>

        <p class="change_link">
          Not a member yet ? Join us:
          <%= link_to "Client", sign_up_client_path, class: "to_register" %> or
          <%= link_to "Auditor", sign_up_auditor_path, class: "to_register" %> ?
        </p>
      </div>

    </div>
  </div>
</div>
