<ul class="nav in" id="side-menu-auditor">
  <li>
    <%= link_to "Dashboard", admin_dashboard_path %>
  </li>

  <li>
    <%= link_to "Terms", admin_terms_path %>
  </li>

  <li>
    <%= link_to "Contracts", admin_contracts_path %>
  </li>

  <li>
    <%= link_to "Messages", conversation_path(:index) %>
  </li>

  <li>
    <%= link_to "Sign out", sign_out_path %>
  </li>
</ul>
